" find a list of commands here: https://jb.gg/h38q75
" find more examples here: https://jb.gg/share-ideavimrc
set visualbell ignorecase smartcase incsearch hlsearch list
set ideastatusicon=gray ideawrite=file visualdelay=50 ideajoin ideamarks
" enable ideavim plugins https://jb.gg/ideavim-plugins
" map ide actions to ideavim - https://jb.gg/abva4t
nmap <Space>f <Action>(GotoFile)
nmap <Space>e <Action>(ShowNavBar)
nmap <Space>b <Action>(RecentFiles)
nmap <Space>g <Action>(FindInPath)
vmap <Space>g <Action>(FindInPath)
nmap <Space>G viw:action FindInPath<CR>
nmap <Space>/ <Action>(SearchEverywhere)
nmap - <Action>(SelectInProjectView)
nmap <C-]> <Action>(GotoDeclaration)
nmap gq <Action>(ReformatCode)
vmap gq <Action>(ReformatCode)
nmap gri <Action>(GotoImplementation)
nmap grr <Action>(FindUsages)
nmap gra <Action>(GotoAction)
nmap grn <Action>(RenameElement)
nmap ]d <Action>(GotoNextError)zz
nmap [d <Action>(GotoPreviousError)zz
nmap K <Action>(ShowHoverInfo)
nmap <C-w>o <Action>(HideAllWindows)
nnoremap <Space>y "+y
vnoremap <Space>y "+y
nnoremap <Space>p "+p
nnoremap <Space>P "+P
vnoremap <Space>p "+p
nnoremap <silent> <C-l> :nohlsearch<CR>
nnoremap <Space>s viw"0y:%s/<C-r>0//gI<Left><Left><Left>
vnoremap <Space>s "0y:%s/<C-r>0//gI<Left><Left><Left>
vnoremap // "0y/\V<C-r>0<CR>
