" find a list of commands here: https://jb.gg/h38q75
"   or :actionlist [pattern]
source ~/.vimrc
set ideaglobalmode ideajoin ideamarks
set ideastatusicon=gray ideawrite=file visualdelay=50

" enable ideavim plugins https://jb.gg/ideavim-plugins
set highlightedyank
let g:highlightedyank_highlight_duration = 128
set commentary

nnoremap <Space>s viw"0y:%s/<C-r>0//gI<Left><Left><Left>
vnoremap <Space>s "0y:%s/<C-r>0//gI<Left><Left><Left>
vnoremap // "0y/\V<C-r>0<CR>

" map ide actions to ideavim - https://jb.gg/abva4t
nmap <Space>f <Action>(GotoFile)
nmap <Space>F viw:action GotoFile<CR>
nmap <Space>e <Action>(ShowNavBar)
nmap <Space>b <Action>(RecentFiles)
nmap <Space>g <Action>(FindInPath)
vmap <Space>g <Action>(FindInPath)
nmap <Space>G viw:action FindInPath<CR>
nmap <Space>/ <Action>(SearchEverywhere)
nmap - <Action>(SelectInProjectView)
nmap <C-]> <Action>(GotoDeclaration)
nmap gq <Action>(ReformatCode)
vmap gq <Action>(ReformatCode)
nmap gi <Action>(GotoImplementation)
nmap gr <Action>(FindUsages)
nmap gR <Action>(RenameElement)
nmap ga <Action>(GotoAction)
nmap K <Action>(ShowHoverInfo)
nmap ]d <Action>(GotoNextError)zz
nmap [d <Action>(GotoPreviousError)zz
nmap <C-w>d <Action>(ShowHoverInfo)
nmap <C-w>o <Action>(HideAllWindows)
nmap <Space>r <Action>(RunClass)
