" you can find a list of commands here: https://jb.gg/h38q75
" find more examples here: https://jb.gg/share-ideavimrc
source ~/.vimrc
" find and replace
nnoremap <Leader>r viw"0y:%s/<C-r>0//gI<Left><Left><Left>
vnoremap <Leader>r "0y:%s/<C-r>0//gI<Left><Left><Left>
" search current marked text in IntelliJ only
vnoremap // "0y/\V<C-r>0<CR>
" IDE specific options
set ideastatusicon=gray
set ideawrite=file
set visualdelay=50
set ideajoin
set ideamarks
" map IDE Actions to IdeaVim -- https://jb.gg/abva4t
" find files and grep patterns
nmap <Leader>f <Action>(GotoFile)
nmap <Leader>F viw:action GotoFile<CR>
nmap <Leader>e <Action>(ShowNavBar)
nmap <Leader>b <Action>(RecentFiles)
nmap <Leader>g <Action>(FindInPath)
nmap <Leader>G viw:action FindInPath<CR>
vmap <Leader>g <Action>(FindInPath)
nmap <Leader>/ <Action>(SearchEverywhere)
" intellisense actions
nmap gq <Action>(ReformatCode)
vmap gq <Action>(ReformatCode)
nmap <C-]> <Action>(GotoDeclaration)
nmap <C-t> <Action>(Back)
nmap gi <Action>(GotoImplementation)
nmap gr <Action>(FindUsages)
nmap ga <Action>(GotoAction)
nmap K <Action>(ShowHoverInfo)
" IDE actions
nmap gx <Action>(RunClass)
nmap gX <Action>(RunMenu)
nmap - <Action>(SelectInProjectView)
nmap <C-j> <Action>(GotoNextError)zz
nmap <C-k> <Action>(GotoPreviousError)zz
nmap <C-w>o <Action>(HideAllWindows)
